.footer {
  bottom: 0;
  position: relative;
  margin-top: auto; /* 自动向下推至页面底部 */
  width: 100vw;
  background-color: #0c7beb;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
